<h1>
<%= '(下書き)' if @entry.draft? %>
<%= @entry.title %>
</h1>

<p class="text-right text-secondary">
<%= link_to @entry.user.name, [@entry.user, :entries] %>
| <% @entry.tags.each do |tag| %>
  <%= link_to tag.name, entries_path(q: { tag: tag.name }) %>
<% end %>
| <%= @entry.published_at.strftime('%Y-%m-%d %H:%M') %>
<% if @entry.editable_by?(current_user) %>
| <%= link_to '編集', [:edit, @entry] %>
<% end %>
</p>

<p>
<%= h(@entry.body).gsub(/\n/, '<br>').html_safe %>
</p>